*{
    margin: 0;
    padding: 0;
}

header{
    background-color: springgreen;  
}
header h1{
    text-align: center;
    color: black;
    padding: 20px;
}
nav{
    background-color: green;
}
nav h1{
    color: black;
    text-align: center;
    padding: 20px;
}
article{
    background-color: skyblue;
    height: 500px;
    overflow: hidden;
}
.left{
    width: 70%;
    background-color: seagreen;
    height: 500px;
    float: left;
}
.top{
    background-color: orangered;
    height: 250px;
}
.top h1{
    color: black;
    text-align: center;
    padding: 15px;
}
.bottom{
    background-color: darkmagenta;
    height: 250px;
}
.bottom h1{
    color: black;
    text-align: center;
    padding: 15px;
}
.right{
    width: 30%;
    background-color: powderblue;
    height: 500px;
    float: right;
}
.right h1{
    color: black;
    text-align: center;
    padding: 15px;
}
footer{
    background-color: springgreen;
}
footer h1{
    color:black;
    text-align: center;
    padding: 20px;
}